@page
@model SanitaOggi.Pages.Esami.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Esame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Esame.CodiceEsame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Esame.CodiceEsame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Esame.NomeEsame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Esame.NomeEsame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Esame.NomeTipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Esame.NomeTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Esame.EsameID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
