@page
@model SanitaOggi.Pages.Ambulatori.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ambulatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ambulatorio.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ambulatorio.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ambulatorio.NomeStruttura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ambulatorio.NomeStruttura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ambulatorio.NomeTipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ambulatorio.NomeTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ambulatorio.AmbulatorioID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
