@page
@model SanitaOggi.Pages.Strutture.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Struttura[0].CodiceStruttura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Struttura[0].NomeStruttura)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Struttura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceStruttura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeStruttura)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StrutturaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StrutturaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StrutturaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
